.recover-form {
  width: 400px;
  margin: 100px auto;
}

.recover-form form {
  margin-bottom: 15px;
  padding: 30px;
  height: 420px;
  border-radius: 8px;
  border: 1px solid rgb(218, 220, 224);
}

.recover-form h2 {
  margin: 0 0 15px;
}

.separator {
  height: 10px;
}
