.btn-save, .btn-cancel {
  padding-bottom: 10px;
}

.btn-save {
  padding-right: 1px;
  padding-left: 0px;
  padding-top: 0px;
}

.btn-cancel {
  padding-left: 1px;
  padding-right: 0px;
  padding-top: 0px;
}
