.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background: white;
  border-radius: 2px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

table * {
  position: relative;
}

table td, table th {
  padding-left: 8px;
}

table thead tr {
  height: 40px;
  background: #23a940;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-size: 15px;
  height: 45px;
  color: #343434;
  line-height: 1.2;
  font-weight: unset;
  text-align: center;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.custom-table-height {
  min-height: 510px !important;
}
