.custom-col-1 {
  font-size: 14px;
}

.custom-col-2 {
  font-size: 12px;
}

.custom-col-3 {
  font-size: 13px;
}

.custom-col-1, .custom-col-2, .custom-col-3 {
  max-height: 600px;
}

.custom-icon-success {
  color: green;
}

.custom-icon-warn {
  color: crimson;
}

.custom-icon-alert {
  color: darkorange;
}

.custom-icon-primary {
  color: rgb(0, 123, 255);
}

pdf-viewer {
  display: block;
  height: 45vh;
  padding-top: 5px;
}

.custom-badge-visualized {
  background-color: tomato;
}

.custom-badge-delivered {
  background-color: dodgerblue;
}

.custom-badge-attended {
  background-color: gold;
}

.scrollable {
  height: 600px;
  overflow-y: scroll;
}

.custom-badge-schedule-attach-delivery {
  background-color: gray;
}

.custom-badge-attach-sent {
  background-color: darkorange;
}

.custom-badge-error-sending-attach {
  background-color: firebrick;
}

.custom-badge-schedule-attach-delivery, .custom-badge-attach-sent, .custom-badge-error-sending-attach, custom-badge-downloaded {
  color: white;
}

.custom-middle-panel {
  border: 1px lightgrey solid;
}

.custom-badge-downloaded {
  background-color: yellow;
}

.custom-badge-modified {
  color: white;
  background-color: purple;
}
